In [24]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv("DeveloperQuiz-Raw-Data - Raw_Data.csv")

In [58]:
df.head()

         Date        Phone            Store  Collected  Redemeed
0  03/01/2020  60128846458    Alpha Sdn Bhd        121       NaN
1  05/01/2020  60128542161  Charlie Sdn Bhd        161       NaN
2  05/01/2020  60173527250  Foxtrot Sdn Bhd         69       NaN
3  05/01/2020  60121224273  Foxtrot Sdn Bhd        157       NaN
4  06/01/2020  60122691965    Alpha Sdn Bhd         71       NaN

In [66]:
class Company:
    def __init__(self, id, name):
        self.id = id
        self.name = name
        self.totalpointsgiven = 0
        self.owes = [0]*7
    
    def set_owes(self, index, points):
        self.owes[index] += points
        
    def add_points_given(self, points):
        self.totalpointsgiven += points

comp_data = { "Alpha" : 1, "Beta" : 2, "Charlie" : 3, "Delta" : 4, "Echo" : 5, "Foxtrot": 6, "Gamma" : 7 }

a = Company(1,"Alpha")
b = Company(2,"Beta")
c = Company(3,"Charlie")
d = Company(4,"Delta")
e = Company(5,"Echo")
f = Company(6,"Foxtrot")
g = Company(7,"Gamma")

comp_list = [a,b,c,d,e,f,g]

In [19]:
df.shape

(297, 5)

In [40]:
df.iloc[0,3]

121

In [68]:
pointer1 = 0
pointer2 = 0
for i in range(297):
    if pd.isnull(df.iloc[i,4]) == False:
        points_redeemed = df.iloc[i,4]
        all_words = df.iloc[i,2].split()
        comp_name = all_words[0]
        comp_index = comp_data[comp_name]
        
        print(comp_name + " redeemed " + str(points_redeemed))
        
        while points_redeemed > 0:
            if points_redeemed - df.iloc[pointer2,3] > 0:
                points_redeemed -= df.iloc[pointer2,3]
                points_owed = df.iloc[pointer2,3]
                df.iloc[pointer2,3] = 0
                all_words2 = df.iloc[pointer2,2].split()
                comp_name2 = all_words2[0]
                comp_index2 = comp_data[comp_name2]-1
        
                comp_list[comp_index2].set_owes(comp_index-1, points_owed)
            
                pointer2 += 1
                
                print(comp_name2 + " owes " + comp_name + str(points_owed))
                
                print(comp_list[comp_index2].owes[comp_index-1])
            else:
                df.iloc[pointer2,3] -= points_redeemed
                points_redeemed = 0
                all_words2 = df.iloc[pointer2,2].split()
                comp_name2 = all_words2[0]
                comp_index2 = comp_data[comp_name2]-1
        
                comp_list[comp_index2].set_owes(comp_index-1, df.iloc[pointer2,3])
            
                print(comp_name2 + " owes " + comp_name + str(df.iloc[pointer2,3]))

Charlie redeemed 500.0
Alpha owes Charlie121
121
Charlie owes Charlie161
161
Foxtrot owes Charlie69
69
Foxtrot owes Charlie8
Charlie redeemed 250.0
Foxtrot owes Charlie8
85
Alpha owes Charlie71
192
Alpha owes Charlie3
Echo redeemed 500.0
Alpha owes Echo3
3
Alpha owes Echo111
114
Echo owes Echo31
31
Alpha owes Echo162
276
Charlie owes Echo47
47
Foxtrot owes Echo121
121
Echo owes Echo24
Gamma redeemed 250.0
Echo owes Gamma24
24
Foxtrot owes Gamma153
153
Beta owes Gamma116
Alpha redeemed 500.0
Beta owes Alpha116
116
Delta owes Alpha166
166
Foxtrot owes Alpha194
194
Foxtrot owes Alpha31
Alpha redeemed 250.0
Foxtrot owes Alpha31
256
Charlie owes Alpha198
198
Alpha owes Alpha165
Foxtrot redeemed 500.0
Alpha owes Foxtrot165
165
Beta owes Foxtrot33
33
Beta owes Foxtrot58
91
Gamma owes Foxtrot156
156
Gamma owes Foxtrot15
Beta redeemed 250.0
Gamma owes Beta15
15
Echo owes Beta136
136
Echo owes Beta17
Alpha redeemed 250.0
Echo owes Alpha17
17
Echo owes Alpha143
160
Gamma owes Alpha26
Delta redeemed 250.0
Gamma owes Delta26
26
Delta owes Delta169
169
Delta owes Delta28
Beta redeemed 1500.0
Delta owes Beta28
28
Delta owes Beta50
78
Charlie owes Beta154
154
Alpha owes Beta177
177
Gamma owes Beta53
68
Gamma owes Beta62
130
Alpha owes Beta98
275
Beta owes Beta32
32
Echo owes Beta161
314
Gamma owes Beta189
319
Gamma owes Beta178
497
Charlie owes Beta114
268
Alpha owes Beta39
314
Foxtrot owes Beta37
37
Alpha owes Beta54

In [69]:
print(comp_list[0].owes[2])

195

In [72]:
for company in comp_list:
    print("Company " + company.name + " owe list: " + ' '.join(str(item) for item in company.owes))

Company Alpha owe list: 165 368 195 0 276 165 0
Company Beta owe list: 116 32 0 0 0 91 116
Company Charlie owe list: 198 268 161 0 47 0 0
Company Delta owe list: 166 78 0 197 0 0 0
Company Echo owe list: 160 314 0 0 55 0 24
Company Foxtrot owe list: 256 37 85 0 121 0 153
Company Gamma owe list: 26 497 0 26 0 171 0